@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background-image: url(/top-blur-circle.svg), url(/bottom-blur-circle.svg);
  background-color: #191a1b;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1500px 1500px;
  background-position: left bottom, right top;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  /* padding-top: 95px; */
}

/* .vizParent {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr; 
  grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr; 
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.header {
  grid-area: 1 / 1 / 2 / 6; 
}
.colorScale {
  grid-area: 2 / 1 / 6 / 2; 
}
.legend {
  grid-area: 2 / 5 / 6 / 6; 
}
.timeline {
  grid-area: 5 / 2 / 6 / 5; 
}
.mainViz {
  grid-area: 2 / 2 / 6 / 5; 
} */

.vizParent {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr; /* Adjust columns */
  grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr; /* Adjust rows */
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.header {
  grid-area: 1 / 1 / 2 / 6; /* Half-height */
}
.colorScale {
  grid-area: 2 / 1 / 6 / 2; /* Half-width */
}
.legend {
  grid-area: 2 / 5 / 6 / 6; /* Half-width */
}
.timeline {
  grid-area: 5 / 2 / 6 / 5; /* Half-height */
}
.mainViz {
  grid-area: 2 / 2 / 5 / 5; /* Adjusted to stop before the timeline */
}

.part {
  border: rgba(255, 255, 255, 0.407) 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
